:root{
    --background-color: #191919;
    --background-color2: #191919;
    --bg-color:  #0F0E0E;
    --content-color: #2d3092;
    --text-color: #d1d1d1;
    --text-hover: #191919;
    --dark-text: #fff;
    --light-color: #fff;
}