:root{
    --background-color: #ffd200;
    --background-color2: #ffb800;
    --bg-color: #fbfbfb;
    --content-color: #2d3092;
    --text-color: #606266;
    --text-hover: #dbdbdb80;
    --dark-text: #000;
    --bg-color: #fff;
    --light-color: #fff;
}

